<a href="https://colab.research.google.com/github/kowais915/deep-learning-416/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import requests
import pandas as pd

In [ ]:
# res = requests.get('https://raw.githubusercontent.com/Tan-Moy/medium_articles/master/art2_multivariate_linear_regression/home.txt')
# text = res.text
# print(text)

In [10]:
df= pd.read_csv(r'/content/home.txt', header= None)

In [17]:
df.columns = ['size', 'bedrooms', 'price']
df

    size  bedrooms   price
0   2104         3  399900
1   1600         3  329900
2   2400         3  369000
3   1416         2  232000
4   3000         4  539900
5   1985         4  299900
6   1534         3  314900
7   1427         3  198999
8   1380         3  212000
9   1494         3  242500
10  1940         4  239999
11  2000         3  347000
12  1890         3  329999
13  4478         5  699900
14  1268         3  259900
15  2300         4  449900
16  1320         2  299900
17  1236         3  199900
18  2609         4  499998
19  3031         4  599000
20  1767         3  252900
21  1888         2  255000
22  1604         3  242900
23  1962         4  259900
24  3890         3  573900
25  1100         3  249900
26  1458         3  464500
27  2526         3  469000
28  2200         3  475000
29  2637         3  299900
30  1839         2  349900
31  1000         1  169900
32  2040         4  314900
33  3137         3  579900
34  1811         4  285900
35  1437         3  249900
36  1239         3  229900
37  2132         4  345000
38  4215         4  549000
39  2162         4  287000
40  1664         2  368500
41  2238         3  329900
42  2567         4  314000
43  1200         3  299000
44   852         2  179900
45  1852         4  299900
46  1203         3  239500